.formContainer {
  padding: 2.5rem 2.5rem;
  background-color: #fff;
  border-radius: 0.3125rem;
}

.title {
  color: #343a40;
  font-size: 1.125rem;
  margin: 0 0 2rem 0;
}

.label,
.radioLabel {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: top;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formInput {
  border: 1px solid #ebedf2;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 2.875rem;
  padding: 0.94rem 1.374rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  transition: all 0.6s ease;
}

.formInput:focus,
.description:focus {
  border-color: #80bdff;
}

.description {
  border: 1px solid #ebedf2;
  display: block;
  line-height: 1.8;
  color: #495057;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  font-weight: 400;
  padding: 0.84rem 1.375rem;
  outline: none;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  transition: all 0.6s ease;
}

.avatarInput {
  display: none;
}

.preview {
  width: 150px;
  margin-left: 200px;
}

.uploadBtn {
  width: 100%;
  padding: 0.375rem 0;
  color: #fff;
  display: block;
  text-align: center;
  background: linear-gradient(to right, #90caf9, #047edf 99%);
  margin-top: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.uploadBtn:hover {
  transform: translateY(-5px);
}

.imgPreview {
  height: 150px;
  width: 150px;
  display: block;
  border: 1px solid #b66dff;
}

.radioContent {
  display: flex;
  cursor: pointer;
  margin-right: 20px;
}

.radioContainer {
  margin-top: 5px;
  display: flex;
}

.radioInput,
.radioLabel {
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
}
