.detailContainer {
  list-style-type: none;
}

.detailItem {
  user-select: none;
  padding: 0 0 5px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
  color: #bba8bff5;
}

.detailIcon {
  margin-right: 10px;
}

.detailLink {
  text-decoration: none;
  color: #888;
  transition: 0.4s ease;
}

.detailLink.active {
  color: #b66dff;
}

.detailLink:hover {
  transform: translateX(5px);
}
