.sidebarItem {
  padding: 20px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sidebarItem:hover,
.sidebarWithSubNav:hover {
  background-color: #dbd9d9;
}

.sidebarLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.sidebarLink.active .sidebarLable,
.sidebarLink.active .sidebarIcon {
  color: #b66dff;
  font-weight: 500;
}

.sidebarLable {
  font-size: 0.875rem;
  line-height: 1;
  color: #3e4b5b;
  user-select: none;
}

.sidebarIcon {
  font-size: 16px;
  user-select: none;
  display: flex;
  align-items: center;
  color: #bba8bff5;
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconsContainer .sidebarIcon:last-child {
  margin-left: 10px;
}

.subNavContainer.active {
  height: 66px;
}

.subNavContainer {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

/* Collapse */

.sidebarItem.sidebarItemCollapse {
  height: 60px;
  padding: 0;
  justify-content: center;
  width: 70px;
  position: relative;
}

.sidebarItem.sidebarItemCollapse .sidebarLable {
  order: 2;
  flex: 1;
  height: 100%;
  display: none;
  align-items: center;
  padding-left: 30px;
  width: 160px;
  position: absolute;
  left: 70px;
  transition: 0.4s ease;
  z-index: 10;
  background-color: #dbd9d9;
}

.sidebarItem.sidebarItemCollapse:hover .sidebarLable {
  display: flex;
}

.sidebarItem.sidebarItemCollapse .sidebarIcon {
  order: 1;
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
