.content {
  display: grid;
  gap: 15px 7px;
  grid-template-columns: repeat(5, 1fr);
}

.nothing {
  cursor: default;
}

.previewItem {
  aspect-ratio: 1;
  border: 1px solid #dadce0;
  border-radius: var(--border--radius-1);
  position: relative;
  transition: 0.4s ease;
  cursor: pointer;
}

.previewItem .thumbnail {
  position: absolute;
  display: block;
  border-radius: var(--border--radius-1);
  width: 100%;
  height: 100%;
}

.uploadBtn {
  border: 1px solid #dadce0;
  border-radius: var(--border--radius-1);
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  cursor: pointer;
}

.uploadBtn:hover {
  transform: translateY(-5px);
}

.uploadBtn:hover > .uploadIcon,
.uploadBtn:hover > p {
  color: #b66dff;
}

.uploadBtn > .uploadIcon {
  color: rgba(0, 0, 0, 0.72);
  transition: 0.4s ease;
  font-size: 40px;
}

.uploadBtn > p {
  color: rgba(0, 0, 0, 0.72);
  transition: 0.4s ease;
  font-size: 20px;
}

.fileInput {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
