.title {
  font-weight: 600;
  line-height: 1.2;
  color: #343a40;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  text-align-last: left;
  overflow-x: scroll;
  white-space: nowrap;
}

.table th {
  padding: 0.9375rem;
  font-size: 0.875rem;
  line-height: 1;
  border-bottom: 2px solid #ebedf2;
  border-bottom-width: 1px;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1rem 0.9375rem;
  border-top: 1px solid #ebedf2;
}
