.select {
  /* padding: 0.94rem 1.374rem;
  border: 0;
  outline: 1px solid #ebedf2;
  color: #c9c8c8;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  height: 2.875rem;
  background: #fff;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  outline: none; */
  border: 1px solid #ebedf2;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 2.875rem;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  transition: all 0.6s ease;
}

.select:disabled {
  cursor: default;
  background: #efefef4d;
}
