.container {
  overflow-x: scroll;
  background-color: #fff;
  padding: 2.5rem 2.5rem;
  width: 100%;
  border: 0;
  border-radius: 0.3125rem;
}

.iconAction {
  font-size: 20px;
  color: #bba8bff5;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease;
}

.iconAction:hover {
  transform: translateY(-3px);
  color: #b66dff;
}

.iconAction + .iconAction {
  margin-left: 10px;
}
