.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content:first-child {
  background-color: #f6f7fc;
  padding: 0 15px;
}

.left {
  justify-content: center;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.text {
  margin-bottom: 1.5rem;
  margin-top: 0;
  color: #b3b3b3;
  font-weight: 300;
}

.imgRight {
  height: 100%;
  width: auto;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 16px;
}
